html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
}
/* main section */
.score {
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 10px;
}
/* Recent scores */
.recent-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 50%;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 10px 0px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.recent-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-score {
  display: flex;
  flex-direction: column;
  flex: 0 50%;
  border: 1px solid black;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: #202020;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  border: 1px solid rgb(145, 140, 140);
  width: 100%;
  border-collapse: collapse;
}

tr{
  height: 38px;
}

tr:nth-child(odd) {
  background-color: rgb(224, 224, 224);
}

.holder{
  width: 80%;
}

/* Add scores */
.add-score{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 50%;
  border: 1px solid black;
}

#main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: relative;
  top: 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid black;
}
/* footer */
footer{
  text-align: center;
}
footer span{
  color:#e25555;
  font-size: 24px;
}